<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.gossip.mapper.NesMapper">
    <select id="queryListMaxId" resultType="news" parameterType="string">
        select * from news where id > #{id} limit 0 , 100
    </select>
    <select id="queryNextMaxIdByMaxid" resultType="string" parameterType="string">
        select Max(id) from (select * from news where id > #{id} limit 0 , 100 ) newsTab
    </select>
</mapper>